body {
  min-width: 300px;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 16px;
}

.wrapper {
  padding: 16px;
}

.title_logo {
  display: flex;
  flex-direction: row;
}

.title_logo_text {
  padding-left: 6px;
  display: flex;
  align-items: center;
  font-size: 18px;
  cursor: default;
}

.title_settings {
  display: flex;
  align-items: center;
}

.stats {
  display: flex;
  flex-direction: column;
}

.stats_title {
  font-size: 16px;
}

.stats_table {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.stats_amount {
  font-size: 15px;
}

.stats_table_item {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
